{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block main %}
<form action="/sell" method="post">
  <div class="mb-3">
    <label for="symbol" class="form-label">Stock</label>
    <select class="form-select" name="symbol" id="symbol" required>
      <option value="" selected disabled>Choose a stock</option>
      {% for s in symbols %}
        <option value="{{ s.symbol }}">{{ s.symbol }} ({{ s.shares }} shares)</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="shares" class="form-label">Shares to sell</label>
    <input class="form-control" id="shares" name="shares" type="text" placeholder="e.g., 1" required>
  </div>

  <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
